<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="la.niub.abcapi.invest.search.dao.reportor.IndustryMapper">

	<select id="getAllIndustries" resultType="map">
		select indu_name,indu_enname from abc_industry limit 5;
	</select>

</mapper>